/* line 24, app/assets/stylesheets/portfolio.scss */
.additional-pages, .additional-pages-two {
  position: fixed;
  z-index: 999;
  height: 22px;
  width: auto;
  bottom: 22px;
  left: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: .5s;
  border-radius: 12px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

/* line 40, app/assets/stylesheets/portfolio.scss */
.additional-pages:hover {
  background-color: rgba(0, 0, 0, 0.85);
  height: 77px;
  border-radius: 6px;
}

/* line 45, app/assets/stylesheets/portfolio.scss */
.additional-pages-two:hover {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100px;
  border-radius: 6px;
}

/* line 51, app/assets/stylesheets/portfolio.scss */
.additional-pages a, .additional-pages-two a {
  font-size: 0;
  transition: all .4s;
  color: white !important;
  text-decoration: none !important;
}

/* line 57, app/assets/stylesheets/portfolio.scss */
.additional-pages:hover a, .additional-pages-two:hover a {
  font-size: 17px;
  text-decoration: underline;
  color: black;
}

/* line 63, app/assets/stylesheets/portfolio.scss */
.additional-pages:hover a:hover, .additional-pages-two:hover a:hover {
  font-weight: bold;
}

/* line 67, app/assets/stylesheets/portfolio.scss */
.dropbtn:hover {
  font-weight: normal;
}
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* line 8, app/assets/stylesheets/welcome.scss */
#main {
  position: relative;
  background-color: #FFF;
  width: 100vw;
  padding: 0;
  overflow: visible;
  /*border: solid darkslategray 10px;*/
}

/* line 17, app/assets/stylesheets/welcome.scss */
#test1 h1 {
  color: white;
  font-size: 4em;
  position: relative;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 0;
}

/* line 26, app/assets/stylesheets/welcome.scss */
#test1 h2 {
  color: white;
  font-size: 1.2em;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

/* line 36, app/assets/stylesheets/welcome.scss */
#test1 h3 {
  font-size: 1.05em;
  color: white;
  font-weight: lighter;
  margin-left: auto;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 46, app/assets/stylesheets/welcome.scss */
#test1 h4 {
  font-size: 1.05em;
  color: white;
  font-weight: bold;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 57, app/assets/stylesheets/welcome.scss */
.fade {
  opacity: 0;
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

/* line 63, app/assets/stylesheets/welcome.scss */
.fade.fade-in {
  opacity: 1;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

/* line 77, app/assets/stylesheets/welcome.scss */
.content-wrapper, .content-wrapper1 {
  width: 100%;
  height: auto;
  padding-bottom: 120px;
  margin: 0 0;
  position: relative;
  z-index: 2;
  border: solid rgba(0, 0, 0, 0) 0.1px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* line 95, app/assets/stylesheets/welcome.scss */
.content-wrapper1 {
  padding-top: 20px;
}

/* line 98, app/assets/stylesheets/welcome.scss */
#bcg-parallax {
  padding: 0px 0;
  /*color: #fff;*/
  background-color: #000;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* line 106, app/assets/stylesheets/welcome.scss */
#bcg-parallax2 {
  padding: 0px 0;
  /*color: #fff;*/
  background-color: #000;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* line 114, app/assets/stylesheets/welcome.scss */
.bcg {
  background: url(/alt8.JPG) no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 130%;
  top: 0px;
  left: 0;
  z-index: -1;
  opacity: .83;
  /*border: solid red 1px;*/
}

/* line 126, app/assets/stylesheets/welcome.scss */
.bcg2 {
  background: url(/assets/7-fe2401ec277a56ab5124745ae5431445cbd262fdeb6cb8854ffcb5ae7521a1fe.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 150%;
  top: 0;
  z-index: 1;
  /*opacity: 0.7;*/
}

/* line 137, app/assets/stylesheets/welcome.scss */
.bcg3 {
  background: url(/assets/10-04e200dccdcbe625d0d696a5f3cb8e7e15bf2da05f77ac7b5979da957137f62d.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 150%;
  top: 0;
  z-index: 1;
  /*opacity: 0.7;*/
}

/* Dropdown Button */
/* line 149, app/assets/stylesheets/welcome.scss */
.dropbtn {
  /*background-color: #4CAF50;*/
  /*color: white;*/
  /*padding: 16px;*/
  /*font-size: 16px;*/
  /*border: none;*/
  font-size: 14pt;
  /*position: sticky;*/
  top: 63px;
  /*border: solid gray 1px;*/
  height: 100%;
  z-index: 999;
  color: #0C1029 !important;
  width: 33%;
  text-align: center;
  text-decoration: none;
  border: solid rgba(0, 0, 0, 0) 3px;
}

/* The container <div> - needed to position the dropdown content */
/* line 171, app/assets/stylesheets/welcome.scss */
.dropdown {
  /*position: relative;*/
  /*display: inline-block;*/
  /*font-weight: lighter;*/
  /*border: solid gray 1px;*/
  font-size: 14pt;
  /*position: sticky;*/
  top: 63px;
  /*border: solid gray 1px;*/
  /*height: 40%;*/
  z-index: 999;
  color: #0C1029 !important;
  width: 33%;
  text-align: center;
  text-decoration: none;
  height: auto;
  display: inline-block;
}

/* line 191, app/assets/stylesheets/welcome.scss */
#navbar .dropbtn {
  border: solid rgba(0, 0, 0, 0) 3px;
  top: -27px;
}

/* line 197, app/assets/stylesheets/welcome.scss */
.dropbtnHome {
  position: absolute;
  display: block;
  font-size: 14pt;
  top: 0px !important;
  left: calc(50% - 27px);
  height: 100%;
  z-index: 999;
  color: #0C1029 !important;
  width: auto;
  text-align: center;
  text-decoration: none;
}

/* line 213, app/assets/stylesheets/welcome.scss */
.dropbtnHome:hover {
  font-weight: normal;
}

/* Dropdown Content (Hidden by Default) */
/* line 218, app/assets/stylesheets/welcome.scss */
.dropdown-content {
  display: none;
  position: absolute;
  top: 27px;
  color: #0C1029;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

/* Links inside the dropdown */
/* line 232, app/assets/stylesheets/welcome.scss */
.dropdown-content a {
  font-size: 14pt;
  color: #6C6F71 !important;
  /*color: black;*/
  /*padding: 12px 10vw;*/
  text-align: center;
  width: 33vw;
  min-width: 350px;
  text-decoration: none;
  display: block;
  z-index: 999;
  overflow: hidden;
}

/* line 245, app/assets/stylesheets/welcome.scss */
.dropdown-content #excel-dropdown, #python-dropdown {
  font-size: 14pt;
  /*color: black;*/
  /*padding: 12px 10vw;*/
  text-align: center;
  width: 33vw;
  min-width: 350px;
  text-decoration: none;
  display: block;
  z-index: 999;
  overflow: hidden;
  height: 27px;
  transition: .5s;
  align-content: center;
}

/* line 260, app/assets/stylesheets/welcome.scss */
#excel-dropdown:hover, #python-dropdown:hover {
  background-color: rgba(145, 145, 145, 0.1);
}

/* line 263, app/assets/stylesheets/welcome.scss */
#python-dropdown a:hover, #excel-dropdown a:hover {
  background-color: rgba(145, 145, 145, 0.1);
}

/* line 265, app/assets/stylesheets/welcome.scss */
#cogSmall,
#pySVG {
  animation: none;
  animation-fill-mode: forwards !important;
  transform-origin: 8px 8.03px;
}

/* line 271, app/assets/stylesheets/welcome.scss */
#eSVG {
  animation: none;
  animation-fill-mode: forwards !important;
  transform-origin: 8px 8.03px;
}

/* line 276, app/assets/stylesheets/welcome.scss */
#cogSmall {
  animation-duration: 200ms;
  animation-direction: reverse;
}

@-webkit-keyframes spin {
  from {
    points: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(120deg);
  }
}

@-webkit-keyframes spin-back {
  0% {
    -webkit-transform: rotate(120deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes darken {
  from {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
  }
}

/* line 300, app/assets/stylesheets/welcome.scss */
.dropdown-content div {
  height: 84px;
  display: inline-block;
}

/* line 305, app/assets/stylesheets/welcome.scss */
#excel-dropdown div {
  width: 156px;
}

/* line 308, app/assets/stylesheets/welcome.scss */
#python-dropdown div {
  width: 86px;
}

/* Change color of dropdown links on hover */
/* line 315, app/assets/stylesheets/welcome.scss */
.dropdown-content a:hover {
  background-color: rgba(145, 145, 145, 0.1);
}

/* Show the dropdown menu on hover */
/* Change the background color of the dropdown button when the dropdown content is shown */
/* line 321, app/assets/stylesheets/welcome.scss */
.dropdown:hover .dropbtn:hover {
  font-weight: normal;
}

/* line 326, app/assets/stylesheets/welcome.scss */
#title {
  /*color: #e5e5e5;*/
  color: #3D3F52;
  background-color: white;
  font-size: 120px;
  position: fixed;
  min-width: 700px;
  width: 100%;
  height: 75px;
  top: -9px;
  left: 0;
  text-align: center;
  z-index: 9;
  -webkit-transition: 0.00s;
  -o-transition: 0.00s;
  transition: 0.00s;
  /*font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;*/
  /*font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;*/
  /*font-family: Sans-Serif;*/
  /*font-weight: lighter;*/
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}

/* line 352, app/assets/stylesheets/welcome.scss */
#title-port {
  /*color: #e5e5e5;*/
  color: #3D3F52;
  background-color: white;
  font-size: 42pt;
  position: fixed;
  width: 100%;
  height: 75px;
  top: -9px;
  left: 0%;
  text-align: center;
  z-index: 9;
  -webkit-transition: 0.05s;
  -o-transition: 0.05s;
  transition: 0.05s;
  /*font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;*/
  /*font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;*/
  /*font-family: Sans-Serif;*/
  /*font-weight: lighter;*/
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}

/* line 373, app/assets/stylesheets/welcome.scss */
#fist, #fist1 {
  position: absolute;
  top: 19px;
  right: 20px;
  height: 100px;
  z-index: 10 !important;
  transition: all ease-in-out .1s;
}

/* line 382, app/assets/stylesheets/welcome.scss */
.fistHover1 {
  height: 105px;
  filter: drop-shadow(-10px 12px 0.2px red) invert(75%);
}

/* line 387, app/assets/stylesheets/welcome.scss */
#fist1:hover {
  height: 105px;
  filter: drop-shadow(12px -10px 0.2px red);
}

/* line 393, app/assets/stylesheets/welcome.scss */
.navbar.two {
  min-height: 27px;
  max-height: 27px;
  background-color: rgba(255, 255, 255, 0.8);
  position: -webkit-sticky;
  position: sticky;
  top: 66px;
  z-index: 5;
  padding-top: 0;
}

/* line 404, app/assets/stylesheets/welcome.scss */
.navcont, navcont-link {
  font-size: 14pt;
  /*position: sticky;*/
  top: 63px;
  /*border: solid gray 1px;*/
  /*height: 50%;*/
  z-index: 999;
  color: #0C1029 !important;
  width: 33%;
  text-align: center;
  text-decoration: none;
}

/* line 416, app/assets/stylesheets/welcome.scss */
.navcont-link {
  width: 100%;
}

/* line 420, app/assets/stylesheets/welcome.scss */
.navcont:hover, .navcont-link:hover {
  font-weight: normal;
}

/* line 424, app/assets/stylesheets/welcome.scss */
h1 {
  font-size: 22pt;
  font-family: Sans-Serif;
  /*font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;*/
  /*font-weight: bold;*/
  font-weight: lighter;
  font-style: normal;
  color: #0C1029;
  text-align: left;
}

/* line 435, app/assets/stylesheets/welcome.scss */
#bio {
  height: 260px;
  width: calc(65vw - 200px);
  position: fixed;
  left: calc(350px + 15vw);
  top: calc(22vh + 85px);
  background-color: transparent;
  color: #d5d5d5;
  padding: 15px;
  padding-top: 15px;
  pointer-events: none;
  /*opacity: 50%;*/
  z-index: 99;
  overflow: hidden;
}

/* line 450, app/assets/stylesheets/welcome.scss */
.bio-item {
  height: 30px;
  width: 95%;
  font-size: calc(1pt + 1vh + 1vw);
  text-align: start;
  position: relative;
  color: #FFFFFF;
  padding: 0;
  padding-top: 0;
  display: block;
  top: 0px;
  left: 10px;
  z-index: 100;
  -webkit-transition: all .06s ease-out;
  -o-transition: all .06s ease-out;
  transition: all .06s ease-out;
}

/* line 468, app/assets/stylesheets/welcome.scss */
#bio-item-1 {
  font-weight: lighter;
  font-size: calc(1pt + 1vh + 1vw);
}

/* line 473, app/assets/stylesheets/welcome.scss */
a {
  /*border: 3px solid green;*/
  color: #b3b3b3 !important;
  /*font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;*/
  /*font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;*/
  font-family: Sans-Serif;
  font-weight: lighter;
  /*font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;*/
  font-size: 32pt;
  z-index: 9999;
}

/* line 484, app/assets/stylesheets/welcome.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 491, app/assets/stylesheets/welcome.scss */
html {
  scroll-behavior: smooth;
}

/* line 497, app/assets/stylesheets/welcome.scss */
.navbar {
  min-height: 10px;
  max-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*align-items: center;*/
  /*background-color: #F6F6F6;*/
  position: fixed;
  bottom: 0;
  z-index: 5;
  padding-top: 0;
}

/* line 515, app/assets/stylesheets/welcome.scss */
#body-outer {
  padding: 0;
  /*height: 100%;*/
  /*width: auto;*/
}

/* line 523, app/assets/stylesheets/welcome.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/* line 528, app/assets/stylesheets/welcome.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 533, app/assets/stylesheets/welcome.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 538, app/assets/stylesheets/welcome.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  /*border-top: 1px solid #ccc;*/
  margin: 1em 0;
  padding: 0;
}

/* line 547, app/assets/stylesheets/welcome.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 554, app/assets/stylesheets/welcome.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 560, app/assets/stylesheets/welcome.scss */
textarea {
  resize: vertical;
}

/* line 564, app/assets/stylesheets/welcome.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===== ScrollMagic Class ==============================================
   Author: Petr Tichy - ihatetomatoes.net
   ========================================================================== */
/* line 577, app/assets/stylesheets/welcome.scss */
body {
  font: 16px/1.5 Helvetica, Helvetica Neue, Arial;
}

/* line 581, app/assets/stylesheets/welcome.scss */
.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* line 587, app/assets/stylesheets/welcome.scss */
.imagesequence {
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
  z-index: 90;
  pointer-events: none;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 605, app/assets/stylesheets/welcome.scss */
#intro {
  top: 170px;
  left: 0px;
  position: fixed;
  min-height: calc(60vh + 20px);
  max-height: calc(60vh + 20px);
  /*background: radial-gradient(circle, #74A6EE 0%, #485CB2 100%);*/
  /*text-align: center;*/
  /*background-image: url("final6.jpeg");*/
  background-color: black;
  /*top: 0;*/
  /*left: 0;*/
  /*position: absolute;*/
  background-size: cover;
  width: 100%;
  z-index: -1;
  /*min-width: 100%;*/
  /*border: solid greenyellow 5px;*/
  /*color: #fff;*/
  /*padding: 150px 0;*/
  /*color: #fff;*/
  /*background-color: #000;*/
  /*text-align: center;*/
  /*position: relative;*/
  /*overflow: hidden;*/
}

/* line 633, app/assets/stylesheets/welcome.scss */
#intro .content {
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
}

/* line 640, app/assets/stylesheets/welcome.scss */
.project {
  text-align: center;
  /*border-bottom: 1px #ebebeb solid;*/
  opacity: 0;
  /*transform: translateY(50px);*/
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

/* line 650, app/assets/stylesheets/welcome.scss */
#project01 {
  /*background-color: #FFFFFF;*/
  background-image: url(/assets/5-068461a36e8b685ec0d703b6bebbc8b4c32d87034e6e141ab4326351ed6831f4.jpg);
  background-size: cover;
}

/* line 656, app/assets/stylesheets/welcome.scss */
#project02 {
  /*background-color: #FFFFFF;*/
  background-image: url(/assets/6-b5ce77be193006d33dd16542b91cc5c5a673e778d24c7f3a3a7cb7ea6d1b5bf6.jpg);
  background-size: cover;
}

/* line 662, app/assets/stylesheets/welcome.scss */
#project03 {
  /*background-color: #FFFFFF;*/
  background-image: url(/assets/11-049df76d7f9520c5e490c7b32040d083019641da1891f62328c452c3e1a15749.jpg);
  background-size: cover;
}

/* line 668, app/assets/stylesheets/welcome.scss */
.project.fade-in {
  opacity: 1;
  /*transform: translateY(0);*/
}

/* line 672, app/assets/stylesheets/welcome.scss */
.project img {
  width: 180px;
  height: 180px;
}

/* line 676, app/assets/stylesheets/welcome.scss */
.project p {
  max-width: 300px;
  margin: 0 auto;
  color: #0f1437;
}

/* line 681, app/assets/stylesheets/welcome.scss */
#project01 h2 {
  font-size: 1.4em;
}

/* line 685, app/assets/stylesheets/welcome.scss */
#project02 h2 {
  font-size: 1.4em;
}

/* line 689, app/assets/stylesheets/welcome.scss */
#project03 h2 {
  color: #F5876F;
}

/* =Footer */
/* line 694, app/assets/stylesheets/welcome.scss */
.footer-container {
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #06060d;
}

/* line 700, app/assets/stylesheets/welcome.scss */
.footer-container .wrapper {
  width: 80%;
  max-width: none;
  margin: 0 10%;
}

/* line 705, app/assets/stylesheets/welcome.scss */
.footer-container h3 {
  margin: 0;
  padding: 20px 0;
  font-weight: normal;
}

/* line 710, app/assets/stylesheets/welcome.scss */
.footer-container a {
  color: rgba(255, 255, 255, 0.5);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* =General */
  /* =Header */
  /* =Footer */
}

@media only screen and (min-width: 768px) {
  /* =General */
  /* =Header */
  /* =Footer */
}

@media only screen and (min-width: 1140px) {
  /* =General */
  /* =Header */
  /* =Footer */
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 747, app/assets/stylesheets/welcome.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 754, app/assets/stylesheets/welcome.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 761, app/assets/stylesheets/welcome.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 766, app/assets/stylesheets/welcome.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 777, app/assets/stylesheets/welcome.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 787, app/assets/stylesheets/welcome.scss */
.invisible {
  visibility: hidden;
}

/* line 791, app/assets/stylesheets/welcome.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 797, app/assets/stylesheets/welcome.scss */
.clearfix:after {
  clear: both;
}

/* line 801, app/assets/stylesheets/welcome.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 810, app/assets/stylesheets/welcome.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  /* line 818, app/assets/stylesheets/welcome.scss */
  a,
  a:visited {
    text-decoration: underline;
  }
  /* line 823, app/assets/stylesheets/welcome.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }
  /* line 827, app/assets/stylesheets/welcome.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /* line 831, app/assets/stylesheets/welcome.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* line 837, app/assets/stylesheets/welcome.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /* line 843, app/assets/stylesheets/welcome.scss */
  thead {
    display: table-header-group;
  }
  /* line 847, app/assets/stylesheets/welcome.scss */
  tr,
  img {
    page-break-inside: avoid;
  }
  /* line 852, app/assets/stylesheets/welcome.scss */
  img {
    max-width: 100% !important;
  }
  @page {}  /* line 860, app/assets/stylesheets/welcome.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  /* line 867, app/assets/stylesheets/welcome.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
